Django==5.1.0
django-cors-headers==4.2.0
django-filter==23.3
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
djoser==2.2.0
python-dotenv==1.0.0
psycopg2-binary==2.9.9
gunicorn==23.0.0
django-redis==5.4.0
redis==5.0.6
Markdown==3.6
python-decouple==3.8
